<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center mb-4">
      <div>
        <img src="https://cloud.sysnovare.pt/ipg/imagens/LogotipoSIdtmod20160930232031" width="300px" alt="Logo IPG">
      </div>
      <p>Criar nova conta ou Entrar</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2">Registar</a>
      <a href="/users/login" class="btn btn-secondary btn-block">Entrar</a>
    </div>
  </div>
</div>
